.carousel-item img{
    height: 600px;
    border-radius: 2%;
}
.explore-btn{
    background-color: transparent;
    color: white;
    padding: 10px 24px;
    border: 1px solid white;
    font-weight: 700;
}
.explore-btn:hover{
    color: tomato;
}
body{
    font-family: 'Poppins', sans-serif;
}
#card-team{
    transition:transform 1s;
}
#card-team:hover{
   transform: scale(1.1);
}